@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


nav{
    color: black;
    padding: 20px 50px;
    box-shadow: 0px 2px 6px #888888;
}

.first-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    background-color: lightgray;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search-input{
    border: none;
    outline: none;
    background-color: transparent;
}

.search-input::placeholder{
    color: rgb(255, 254, 254);
}

.amazing-offer{
    font-size: 20px;
    border-bottom: 3px solid rgb(3, 153, 3);
    cursor: pointer;
}

.last-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.manu-item{
    margin-right: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.manu-item:hover{
    color: green;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}